In [2]:
import tensorflow as tf
import tensorflow.keras as keras
import pandas as pd   
import numpy as np

In [3]:
data = pd.read_csv("imdb_reviews.csv")
test_data = pd.read_csv("test_reviews.csv")

In [4]:
data.head()

                                             Reviews Sentiment
0  <START this film was just brilliant casting lo...  positive
1  <START big hair big boobs bad music and a gian...  negative
2  <START this has to be one of the worst films o...  negative
3  <START the <UNK> <UNK> at storytelling the tra...  positive
4  <START worst mistake of my life br br i picked...  negative

We can not pass the string data to our model directly, so we need to transform the string data into integer format.For this we can map each distinct word as a distinct integer for eg.{'this':14 , 'the':1}.We already have a file that contains the mapping from words to integers so we are going to load that file.

In [5]:
word_index = pd.read_csv("word_indexes.csv")

In [6]:
word_index.head()

     Words  Indexes
0  tsukino    52009
1  nunnery    52010
2    sonja    16819
3     vani    63954
4    woods     1411

In [ ]:
#Converting to dictionary
word_index = dict(zip(word_index.Words, word_index.Indexes))